.placeholder {
    background-color: cadetblue;
    border: darkblue 1px solid;
    padding: 1px;
}

img {
    width: 30%
}

dd {
    background-color: cadetblue;
}

dd img {
    width: auto;
    height: 60px;
}

#sum {
    font-weight: bold;
    margin: 0;
}

#textBox .modal-body {
    font-size: larger;
}

.studentBox {
    background-color: pink;
}

.loud {
    color: red;
    font-size: larger;
    text-align: center;
}

.punch {
    font-size: larger;
    background-color: aqua;
}